<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Travel App</title>
  </head>
  <body>
    <div id="app" class="container">
      <section class="heading">
        <h1 class="header">
          Travel App
        </h1>
      </section>
      <section class="travel-form">
        <div class="holder date">
          <label for="depDate">When are you leaving?</label>
          <input type="date" id="depDate" placeholder="enter date here" />
        </div>
        <div class="holder return">
          <label for="returnDate">When are you returning?</label>
          <input type="date" id="returnDate" placeholder="enter date here" />
        </div>
        <div class="holder city">
          <label for="city">Where are you going?</label>
          <input type="text" id="city" placeholder="enter city here" />
        </div>
        <div class="holder error-container">
          <div class="error-msg hide">Please complete all fields</div>
        </div>
        <div class="holder button">
          <label for="generate">Find Information</label>
          <button id="generate" type="submit">Go</button>
        </div>
      </section>
      <section id="info" class="info-container hide">
        <div class="trip-info">
          <div class="trip-header">
            <div class="place-results">
              <h4 class="header">Where I'm Going</h4>
              <div id="locationName"></div>
            </div>
            <div class="date-results">
              <h4 class="header">When I Depart</h4>
              <div id="date"></div>
            </div>
            <div class="date-results">
              <h4 class="header">When I Return</h4>
              <div id="returnData"></div>
            </div>
            <div class="countdown">
              You will be leaving in <span id="countdown"></span> days.
            </div>
            <div class="countdown">
              Your trip will last for <span id="returnInfo"></span> days.
            </div>
          </div>
          <div class="trip-img">
            <div class="img-container" id="picCont">
              <img
                id="pic"
                src="https://pixabay.com/get/57e2d3474a54ae14f1dc8460c62d3f7a1d3ad6e14e507441732f72d19f49c1_640.jpg"
              />
            </div>
            <div class="pixabay-logo" id="pic">
              <a href="https://pixabay.com/">Pixabay Free Images</a>
            </div>
          </div>
          <div class="trip-data">
            <h2 class="header">Trip Weather</h2>
            <div><span id="temp"></span>&#8457;</div>
            <div id="summary" class="summary-info hide"></div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
