<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Weather Journal</title>
  </head>
  <body>
    <div id="app">
      <h1 class="holder headline">
        Travel App
      </h1>
      <div class="holder zip">
        <label for="city">Where are you going?</label>
        <input type="text" id="city" placeholder="enter city here" />
      </div>
      <div class="holder zip">
        <label for="depDate">When are you leaving?</label>
        <input type="date" id="depDate" placeholder="enter date here" />
      </div>
      <div class="holder feel">
        <label for="feelings">How are you feeling today?</label>
        <textarea
          class="myInput"
          id="feelings"
          placeholder="Enter your feelings here"
          rows="9"
          cols="50"
        ></textarea>
        <button id="generate" type="submit">Generate</button>
      </div>
      <div class="holder entry">
        <h2 class="title">Most Recent Entry</h2>
        <div id="entryHolder">
          <h4 class="header hide">When I'm Leaving</h4>
          <div id="date"></div>
          <h4 class="header hide">Where I'm Going</h4>
          <div id="locationName"></div>
          <div id="temp"></div>
          <div id="feelsLike"></div>
          <h4 class="header hide">Today I'm Feeling:</h2class="hide">
          <div id="content"></div>
        </div>
      </div>
    </div>
  </body>
</html>
