<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Travel App</title>
  </head>
  <body>
    <div id="app" class="container">
      <section class="heading">
        <h1 class="header">
          Travel App
        </h1>
      </section>
      <section class="travel-form">
        <div class="holder date">
          <label for="depDate">When are you leaving?</label>
          <input type="date" id="depDate" placeholder="enter date here" />
        </div>
        <div class="holder city">
          <label for="city">Where are you going?</label>
          <input type="text" id="city" placeholder="enter city here" />
        </div>
        <div class="holder button">
          <label for="generate">Find Information</label>
          <button id="generate" type="submit">Go</button>
        </div>
      </section>
      <section>
        <div class="trip-info">
          <div id="entryHolder">
            <div class="trip-data">
              <h2 class="header">Trip Info</h2>
              <h4 class="header">When I'm Leaving</h4>
              <div id="date"></div>
              <h4 class="header">Where I'm Going</h4>
              <div id="locationName"></div>
            </div>
            <div class="trip-img" id="pic"></div>
            <div class="trip-data">
              <h2 class="header">Weather</h2>
              <h4 class="header">Temperature</h4>
              <div id="temp"></div>
              <h4 class="header">Feeks Like</h4>
              <div id="feelsLike"></div>
              <div id="summary"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
