@import url("https://fonts.googleapis.com/css?family=Acme|Cabin:700i|Monoton|Poppins&display=swap");
// Fonts
$font-cabin: "Cabin", sans-serif;
$font-poppins: "Poppins", sans-serif;

// Colors
$primary-white: #ffffff;
$primary-blue: #0f4c81;
$primary-black: #101820;
$primary-gray: #84898c;
$primary-yellow: #f3d5ad;
